body {
    background-color: #EFD6AC;
}

h1 {
    color: ghostwhite;
}


h4 {
    color: red;
    text-decoration: none;
}

iframe {

    width: 1000px;
    height: 500px;

}


button{

    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}